%p#notice= notice
%p
  %strong Title:
  = @project.title
%p
  %strong Description:
  = @project.description
.images
  - @project.images.each do |image|
    .image
      = image_tag(image.url(:thumb))
= link_to 'Edit', edit_project_path(@project)
|
= link_to 'Back', projects_path
