// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image, .image-preview {
  display: block;
  max-width: 300px;
  max-height: 300px;
}

#previews {
  max-height: 450px;
  overflow: auto;
}

.image-preview:hover {
  // brightness
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  // scale
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}